
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */