
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-phone:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e808'; } /* '' */
.icon-mail-alt:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\f315'; } /* '' */